# Python\n__pycache__/\n*.pyc\n*.pyo\n*.pyd\n.Python\nenv/\nvenv/\n.venv/\nENV/\npip-log.txt\npip-delete-this-directory.txt\n.tox/\n.coverage\n.coverage.*\n.cache\nnosetests.xml\ncoverage.xml\n*.cover\n*.log\n.git/\n.pytest_cache/\n.pytest_cache/v/\n.pytest_cache/node-v/\nhtmlcov/\n.hypothesis/\n.DS_Store
